---
- name: Configure Core Routers (OSPF Routing Only)
  hosts: core_routers
  gather_facts: no
  tasks:
    - name: Configure OSPF Backbone
      cisco.ios.ios_config:
        # These lines are now indented correctly under the OSPF process
        lines:
          - "router-id {{ '5.5.5.5' if inventory_hostname == 'core1' else '6.6.6.6' }}"
          - "network 10.10.10.12 0.0.0.3 area 0"
          - "network 10.10.10.8 0.0.0.3 area 0"
          - "network 172.16.0.0 0.0.255.255 area 0"
          - "default-information originate always"
        parents: "router ospf 1" # This ensures the commands are sent in the right mode

- name: Configure Distribution Switches (VLAN, HSRP, LACP, OSPF)
  hosts: distro_switches
  gather_facts: no # Prevents SSH timeout during initial handshake
  tasks:
    - name: Configure EtherChannel Members
      cisco.ios.ios_config:
        lines:
          - "description BACKBONE-LINK"
          - "switchport trunk encapsulation dot1q" # Must come before 'mode trunk'
          - "switchport mode trunk"
          - "channel-group 1 mode active"
        parents: "interface {{ item }}"
      loop: "{{ etherchannel_members }}"

    - name: Configure Port-Channel Interface
      cisco.ios.ios_config:
        lines:
          - "description AGGREGATED-BACKBONE"
          - "switchport trunk encapsulation dot1q"
          - "switchport mode trunk"
          - "switchport trunk allowed vlan 1,10,20,30"
        parents: "interface Port-channel 1"
      tags: fix_trunks  

    - name: Configure VLAN SVIs and HSRP
      cisco.ios.ios_config:
        lines:
          - "ip address {{ item.ip }} 255.255.255.0"
          - "standby {{ item.id }} ip {{ item.vip }}"
          - "standby {{ item.id }} priority {{ '110' if inventory_hostname == 'distro1' else '100' }}"
          - "standby {{ item.id }} preempt"
        parents: "interface Vlan{{ item.id }}"
      loop: "{{ vlans }}"
      tags: hsrp_update

    - name: Assign Access Ports
      cisco.ios.ios_config:
        lines:
          - "switchport mode access"
          - "switchport access vlan {{ item.0.id }}"
          - "spanning-tree portfast"
        parents: "interface {{ item.1 }}"
      loop: "{{ vlans | subelements('interfaces') }}"
      tags: access_ports

    - name: Enable Global DHCP Snooping
      cisco.ios.ios_config:
        lines:
          - "ip dhcp snooping"
          - "ip dhcp snooping vlan 10,20,30"
          - "no ip dhcp snooping information option" # Recommended to prevent DHCP drops on some IOS versions

    - name: Configure DHCP Snooping Trust on Uplinks
      cisco.ios.ios_config:
        lines:
          - "ip dhcp snooping trust"
        parents: "interface Port-channel 1"

    - name: Routing Process
      cisco.ios.ios_config:
        lines:
          - "router-id {{ '1.1.1.1' if inventory_hostname == 'distro1' else '2.2.2.2' }}"
          - "network 192.168.0.0 0.0.255.255 area 0"
          - "network 172.16.0.0 0.0.255.255 area 0"
        parents: "router ospf 1" # Ensures context is inside OSPF process

    - name: Convert Downlinks to Trunks
      cisco.ios.ios_config:
        lines:
          - "description LINK-TO-ACCESS-SWITCH"
          - "switchport trunk encapsulation dot1q"
          - "switchport mode trunk"
          - "switchport trunk allowed vlan 1,10,20,30"
          - "switchport trunk native vlan 1" # Explicitly match the Access side
        parents: "interface {{ item }}"
      loop:
        - GigabitEthernet0/0
        - GigabitEthernet0/1
        - GigabitEthernet0/2
        - GigabitEthernet0/3
        - GigabitEthernet1/0
        - GigabitEthernet1/1    
      tags: fix_trunks  
